SELECT 
  {% for col in select_columns -%}
    {{ col }}{% if not loop.last %},{% endif %}
  {% endfor %}
FROM users u
JOIN metrics m 
  ON u.{{ user_join_key }} = m.{{ metric_join_key }}
WHERE TRUE 
  AND u.code IN (
    {% for code in user_codes -%}
      {{ code }}{% if not loop.last %},{% endif %}
    {% endfor %}
  )
  AND u.age BETWEEN {{ user_age_lower }} AND {{ user_age_upper }}
  AND u.status = '{{ user_status }}'
  AND m.code = '{{ metric_code }}'
  AND m.is_updated IS {{ metric_updated_flag }}
  AND m.threshold > {{ metric_threshold }}